.footer {
    font-weight: 400;
    color: #fff;
    letter-spacing: 1px;
    padding: 0 25px;
    font-size: 18px;
    opacity: 0.65;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 25px;
    text-align: center;
}

.footer p {
    margin-bottom: 0;
}

.footer a {
    color: inherit;
}